<header>
  <nav class="navbar navbar-default">
  </nav>
  </header>
  <div class="container">
    <div class="row" id="membership">
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <div class="jumbotron text-center">
          <div class="row">
            <div class="col-lg-12">
              <form class="form-signin" method="post" action="Login">
                <header>
                  <h1 class="form-signin-heading">Forgot Password?</h1>
                </header>
                <div class="form-row text-left">
                  <div class="form-group col-lg-12">
                    <label for="UserName">Email address</label>
                    <input [(ngModel)]="user.EmailAddress" type="text" id="EmailAddress" name="EmailAddress" class="form-control input-md" placeholder="Your Email Address ..." required autofocus>
                  </div>
                </div>
                <footer>
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <button (click)="recoverPassword()" class="btn btn-lg btn-primary btn-block" type="submit">Recover Your Password</button>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h5 style="color:red;">{{displayMsg}}</h5>
                      </div>
                    </div>
                </footer>
              </form>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <hr class="divider" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <a href="register" class="btn btn-outline-secondary">Register</a>
            </div>
            <div class="col-lg-4">
              <a href="login" class="btn btn-outline-secondary">Login</a>
            </div>
            <div class="col-lg-4">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>